.basic-button {
    min-height: 50px;
    min-width: 200px;
    padding: 10px 32px;
    display: block;
    margin: 0 auto;
    background-color: $brand-color;
    color: $global-white-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-width: 0;
    cursor: pointer;

    transition: background-color 250ms $timing-function;

    &:hover,
    &:focus {
        background-color: $button-hover-color;
    }

    &--flex {
        display: flex;
        align-items: center;
    }           
}

.basic-button__right-icon {
    margin-left: 10px;
    fill: currentColor;
}

.basic-button__left-icon {
    margin-right: 10px;
    fill: currentColor;
}