.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $brand-color;

    &--light-theme {
        color: $global-black-color;
    }

    &--dark-theme {
        color: $global-white-color;
    }
}