// Переписати імена змінних

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$primary-font: 'Roboto', sans-serif;
$brand-color: #2196F3;
$main-text-color: #212121;
$addition-text-color: #757575;
$passive-icon-color: #AFB1B8;
$dark-background-color: #2F303A;
$light-background-color: #F5F4FA;
$button-hover-color: #188CE8;
$global-black-color: #000000;
$global-white-color: #FFFFFF;